NitroDebugger/bin/
NitroDebugger/obj/
NitroDebugger.UnitTests/bin/
NitroDebugger.UnitTests/obj/
.nuget/NuGet.exe
*.userprefs
packages/
*.dll
IO_RegisterViewer/bin/Debug/NitroDebugger.exe
*.txt
*.cache
